/* Main CSS file */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/*
  Container for the search form
  - [x] right next to text input!!!
*/

.form--search {
  font-size: 0;
}

/*
  Search text input
  - [x] Black text
  - [x] Sans Serif font
  - [x] White background
  - [x] 590px width
  - [x] 40px height
  - [x] 1px solid grey border
  - [x] Padding top/bottom of 15px, left/right 10px (maybe line height 38px)
  - [x] Font size of ~18px
  - [x] vertical align top: aligning with submit button
*/

.input__search {
  background-color: white;
  border: 1px solid rgb(217, 217, 217);
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  outline: none;
  padding: 0 10px;
  vertical-align: top;
  width: 590px;
}

/*
  Search input submit button
  - [x] 18x18 search icon magnify
  - [x] icon/text is white
  - [x] 40x40 width/height
  - [x] bg color of 66	133	244
  - [x] padding 10x10
  - [x] border radius (top right, bottom right) 3px
*/

.input__submit {
  background-color: rgb(66, 133, 244);
  border-radius: 0 3px 3px 0;
  border: none;
  color: white;
  font-size: 18px;
  height: 40px;
  outline: none;
  padding: 10px;
  width: 40px;
}

/*
  Search dropdown
  - [x] width matches text input (590px)
  - [x] border matches text input (1px solid rgb(217, 217, 217));
  - [] above everything else by 1px (positioning?)
  - [] do not display numbers from ol

  Search dropdown item
  - [x] height of 22px
  - [x] font size 18px
  - [] hover with grey background 238	238	238
  - [x] padding left/right 10px
*/

.dropdown--search {
  border: 1px solid rgb(217, 217, 217);
  border-top: 0;
  visibility: hidden;
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 590px;
}

.dropdown--visible {
  visibility: visible;
}

.dropdown__item {
  font-size: 18px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
}

.dropdown__item:hover {
  background-color: rgb(238, 238, 238);
}
